* {
    font-family: 'Noto Sans TC', 黑體-繁, 微軟正黑體, sans-serif;
    font-weight: bold;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 60px;
  }
  
  
  #navigator {
    width: 100%;
    padding: 24px 0px;
    background-color: #C7F7FA;
    font-size: 1.2rem;
    text-align: center;
  }
  
  #menu_icon {
    position: absolute;
    top: 230px;
    left: 40px;
  }
  
  #logout_icon {
    position: absolute;
    top: 230px;
    right: 40px;
  }
  
  #header {
    width: 100%;
    padding: 24px 0px;
    background-color: #FAE2C7;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .page {
    width: 100%;
    padding: 48px 0px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
  }
  
  #menu {
    width: auto;
    position: absolute;
    top: 310px;
    left: 0;
    background-color: #FEFFC3;
    visibility: hidden;
    z-index: 0;
  }
  
  #menu div {
    padding: 20px 40px;
  }
  
  #mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    visibility: hidden;
    z-index: 0;
  }
  
  .visible {
    display: block;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .br {
    display: block;
    margin-bottom: 0.8em;
  }
  
  .button {
    background-color: #1A8FDD;
    border: none;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0;
    border-radius: 60px;
  }
  
  /* table ---------------------------------------------- */
  
  .wrap {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }
  
  table.task {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #6b675d;
  }
  
  table.task th {
    background-color: #6b675d;
    color: #ffffff;
  }
  
  td {
    background-color: #f3f3f3;
    text-align: center;
    border-top: 1px solid #6b675d;
    border-left: 1px solid #6b675d;
  }
  
  /* table.task tr:nth-of-type(2) td {
    border-top: none;
  } */
  
  table.task tr td:first-child {
    border-left: none;
  }
  
  table.task th {
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
  }
  
  table.task tr:nth-of-type(1) th {
    border-top: none;
  }
  
  table.task tr:first-child th:first-child {
    border-top: none;
    border-left: none;
  }
  
  table.task tr:last-of-type {
    border-bottom: 2px solid #6b675d;
  }
  
  th,
  td {
    font-size: 0.8rem;
    height: 1.5rem;
  }
  
  td.alert {
    background-color: red;
    color: white;
  }